name: pull-request
on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read
  pull-requests: write

env:
  IMAGE: ghcr.io/${{ github.repository }}:pr-${{ github.event.number }}

jobs:
  go-fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Jerome1337/gofmt-action@v1.0.5
      with:
        gofmt-path: '.'
        gofmt-flags: '-l -d'

  goimports:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: Jerome1337/goimports-action@v1.0.3

  golangci-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: stable
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        args: --timeout 5m
        version: v1.64

  go-test-failfast:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
    - run: go test ./... -v -failfast

  go-test-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
    - run: go test ./... -coverprofile=coverage.out
    - uses: codecov/codecov-action@v3
    - run: go install github.com/mattn/goveralls@latest
    - run: goveralls -service=github -coverprofile=coverage.out
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  go-licenses:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
    - run: go install github.com/google/go-licenses@v1.6.0
    - run: go-licenses check .

  docker-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      
    steps:
    - uses: actions/checkout@v4
    - uses: docker/build-push-action@v4
      with:
        context: .
        push: false
        tags: ${{ env.IMAGE }}
        build-args: |
          VERSION=development
    - uses: aquasecurity/trivy-action@0.28.0
      with:
        image-ref: ${{ env.IMAGE }}
        format: 'table'
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'
